@charset "utf-8";

html, body {
	color: white;
	margin: 0;
	padding: 0;
	background-color: black;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#top {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div#LOGO {
	height: 300px;
	background-image: url(logo.jpg);
	background-size: cover;
	background-position: center center;
}

div#MENU {
	float: left;
	width: 15%;
	overflow: hidden;
	color: white;
	font-weight: bold;
}

div#TRESC {
	float: right;
	width: 85%;
	overflow: hidden;
	background-color: #444444;
	color: white;
	font-size: large;
	padding: 15px;
}

/*  */
div#MENU ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

div#MENU ul a {
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #808080;
	color: black;
	padding: 10px 15px;
}

/* Efekt po najechaniu kursorem */
div#MENU ul a:hover {
	color: white;
	background-color: #606060;
}