@charset "utf-8";

html, body {
	color: white;
	margin: 0;
	padding: 0;
	background-color: black;
}

div#top {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div#LOGO {
	height: 150px;
	background-image: url(logo.jpg);
	background-color: #444444;
	border: 1px solid white;
}

div#MENU {
	float: left;
	width: 15%;
	height: 500px;
	overflow: hidden;
	color: white;
}

div#TRESC {
	float: right;
	width: 85%;
	overflow: hidden;
	display: table;
	background-color: #444444;
	color: white;
}

ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	width: 100%;
}

ul a {
	display: block;
	width: 92%;
	text-decoration: none;
	text-align: center;
	background-color: gray;
	color: black;
	padding: 6px;
	border: 3px outset #ccc;
}

ul a:hover {
	border-style: inset;
	color: white;
	padding: 7px 3px 3px 7px;
}